@model MaxCoViewModels

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="main-container container">
    <div class="row">
        @foreach(var product in Model.Products)
        {
            <div class="col-md-4 col-sm-4">
                <div style="border: 2px solid black;">
                        <form asp-action="Details" id="target-product" asp-controller="Home" role="form">
                            <input asp-for="@product.ProductId" type="hidden" class="form-control"/>
                            <button type="submit" class="form-button">
                                <img href="@product.ProductImage" alt="Product image" />
                            </button>
                            <p class="product-name">
                                <button type="submit" class="btn btn-primary form-button">
                                    @product.ProductName
                                </button>
                            </p>
                        </form> 
                    <p class="product-price">Price: @product.ProductPrice</p>
                </div>
            </div>
        }
    </div>
</div>