.navbar {
    margin-bottom: 1rem;
}

.categoryItem {
    border-width: 0px;
}

.categoryButtons {
    font-size: 3rem;
    margin-bottom: 2rem;
}
.categoryButtons input {
    font-weight: 600;
    background-color: white;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}

.modal.left {
    position: fixed;
    z-index: 99999;
}

.modal.left .modal-dialog {
    position: fixed;
    margin: auto;
    width: 32%;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal-dialog {
    /* max-width: 100%; */
    margin: 1.75rem auto;
}

.modal.left.fade .modal-dialog {
    left: -50%;
    -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
    -o-transition: opacity 0.3s linear, left 0.3s ease-out;
    transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.left.fade.show .modal-dialog {
    left: 0;
    box-shadow: 0px 0px 19px rgba(0,0,0,.5);
}

.modal.left .modal-content {
    /*overflow-y: auto;
    overflow-x: hidden;*/
    height: 100vh !important;
}

.modal-content {
    border-radius: 0;
    border: none;
}