

.productWindow {
    box-shadow: 0px 5px 8px #888888;
    margin-bottom: 1rem;
}

.feature-product {
    max-height: 30vw;
    margin-bottom: 2rem;
}
.productWindow .index-products {
    max-width: 100%;
    max-height: 15vw;
    min-height: 15vw;
}

.index-products {
    max-width: 100%;
    max-height: 15vw;
    min-height: 15vw;
}

.form-button {
    width: 100%;
}

.productWindow .detail-product {
    max-width: 100%;
    max-height: 30vw;
}

button.btn {
    padding: 0;
    border: none;
}

.b1 {
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.productFields {
    height: 100%;
    display: flex;
    margin-bottom: auto;
    flex-direction: column;
}

.detail-fields {
    min-height: 30vw;
    margin-bottom: 1rem;
}

.productFields p {
    margin-bottom: 8px;
    padding-left: 4px;
}

.productName {
    font-weight: 600;
}
.productName:hover {
    text-decoration: underline;
}

.productBrand {
    font-size: 0.9rem;
}

#target-product {
    margin-top: auto;
}
.cartButton {
    border-radius: 0;
    width: 100%;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}