@model MaxCoViewModels

<div class="row">
    <div class="col-md-12 col-ms-12">
        <div id="carouselExampleControls" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                @{int i = 0;}
                @foreach(var product in Model.FeaturedProducts)
                {
                    i++;
                    var active = i == 1 ? "active" : "";

                    <div class="carousel-item @active">
                        <form asp-action="Details" asp-controller="Home" role="form">
                            <input asp-for="@product.ProductKey" type="hidden" name="id" class="form-control"/>
                            <button type="submit" class="btn form-button">
                                <img src="~/images/@product.PromotionalImage" class="d-block w-100 feature-product" alt="Product image" />
                            </button>

                        </form>
                    </div>

                }
            </div>
            <a class="carousel-control-prev" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
            <a class="carousel-control-next" data-bs-target="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only"></span>
            </a>
        </div>
    </div>
</div>