@model MaxCoViewModels

@{
    ViewData["Title"] = "Home Page";
}

<div class="main-container container">
    @{
        @Html.Partial("_FeatureProduct")
    }
    <div class="row">
        <div class="col-md-4 col-ms-4 d-flex justify-content-center">
            <form asp-controller="Home" asp-action="Category">
                <input type="submit" name="categorySearch" value="Nintendo" class="categoryItem categoryButtons" />
            </form>
        </div>
        <div class="col-md-4 col-ms-4 d-flex justify-content-center">
            <form asp-controller="Home" asp-action="Category">
                <input type="submit" name="categorySearch" value="Sony" class="categoryItem categoryButtons" />
            </form>
        </div>
        <div class="col-md-4 col-ms-4 d-flex justify-content-center">
            <form asp-controller="Home" asp-action="Category">
                <input type="submit" name="categorySearch" value="Microsoft" class="categoryItem categoryButtons" />
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4  d-flex justify-content-center">
            <form asp-controller="Home" asp-action="Browse">
                <input type="submit" value="Browse" class="categoryItem categoryButtons"/>
            </form>
        </div>
        <div class="col-md-4 col-sm-4  d-flex justify-content-center">
            <form asp-controller="Home" asp-action="Category">
                <input type="submit" name="categorySearch" value="Games" class="categoryItem categoryButtons" />
            </form>
        </div>
        <div class="col-md-4 col-sm-4  d-flex justify-content-center">
            <form asp-controller="Home" asp-action="Category">
                <input type="submit" name="categorySearch" value="Controller" class="categoryItem categoryButtons" />
            </form>
        </div>
    </div>
</div>